<div class="main-homepage">
    <div class="container">
        <div class="col-md-4 col-md-offset-8">
            <h1>BLACK JACKET</h1>

            <h1>FOR MAN</h1>
            <p>One advanced diverted domestic sex repeated bringing.</p>
            <p>her trifling laughter thoughts property she met way.</p>
            <div class="row" >
                <div class="col-md-6">
                    <button>SHOP</button>
                </div>
                <div class="col-md-6">
                    <button>CREATE</button>
                </div>
            </div>
        </div>
    </div>
</div>