<div class="navbar-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="image/logo_shirtparty_white.png" class="brand-navbar-bottom">
                <span class="text-brand" style="color: white">ShirtParty</span>
                <div class="row">
                    <div class="col-md-12">
                        <p class="description-navbar-bottom">in languages that employ articles. every common
                        noun, with som excptions is expressed with definiteness (e.g., definte or indefinite)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th>OUR STORE</th>
                            <th>OUR STORE</th>
                            <th>OUR STORE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Team</td>
                            <td>Team</td>
                            <td>Team</td>
                        </tr>
                        <tr>
                            <td>Principles</td>
                            <td>Principles</td>
                            <td>Principles</td>
                        </tr>
                        <tr>
                            <td>Creatives</td>
                            <td>Creatives</td>
                            <td>Creatives</td>
                        </tr>
                        <tr>
                            <td>ideas</td>
                            <td>ideas</td>
                            <td>ideas</td>
                        </tr>
                        <tr>
                            <td>Peoples</td>
                            <td>Peoples</td>
                            <td>Peoples</td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>Others</td>
                            <td>Others</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="list-cricle-logo-navbar-bottom">
                    <button class="cricle-logo-navbar-bottom" >
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </button>
                    <button class="cricle-logo-navbar-bottom" >
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </button>
                    <button class="cricle-logo-navbar-bottom" >
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>