<div class="navbar navbar-inverse navbar-fixed-left">
    <a class="navbar-brand" href="#" style="padding-left: 28px;margin-bottom: 30px">
        <img src="image/logo_shirtparty.png" >
    </a>
    <ul class="nav navbar-nav">

        <li>
            <img src="image/logo_shirtparty.png">
            <p>Overview</p>
        </li>
        <li>
            <img src="image/logo_shirtparty.png">
            <p>Design</p>
        </li>
        <li style="position: fixed;bottom: 0">
            <p>Logout</p>
        </li>

    </ul>
</div>
<nav class="navbar-top-sell">
    <div class="row">
        <div class="col-md-3">
            <div class="search-input-navbar">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input placeholder="Find products , design">
            </div>
        </div>
        <div class="col-md-3" style="float: right;padding-top: 15px">
            <p style="display: inline;">Sort by: </p>
            <button class="btn btn-default" style="margin-left: 15px">NEW <i class="fa fa-plus" style="margin-left: 5px"></i></button>
        </div>
    </div>
</nav>