<div class="list-popular">
    <div class="header-list-popular">
        <div class="container">
            <nav >
                <ul class="pager">
                    <li><a href="#" class="left-list-popular">&laquo;</a></li>
                    <li><a href="#" class="right-list-popular">&raquo;</a></li>
                </ul>
            </nav>
            <h5>popular designs</h5>
        </div>

    </div>
    <div class="container">
        <div class="main-list-popular">

            <div class="row">
                <div class="col-md-3">
                    <div class="card-shirt" style="box-shadow: none">
                        <div class="main-card-shirt" >

                            <img src="image/logo_shirtparty.png" style="height: 150px;width: 80%">
                            <h5>Paneled Thermal Henley</h5>
                            <p>cardigan</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>